@import "tailwindcss";

:root {
  --primary-rgb: 179 163 105; /* default georgia tech (gold). set by theme provider */
  --secondary-rgb: 0 48 87; /* default georgia tech (navy blue). set by theme provider */
}

@theme {
  --color-primary: rgb(var(--primary-rgb));
  --color-secondary: rgb(var(--secondary-rgb));
}
